doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    |
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    |
    meta(name="description", content="")
    |
    meta(name="author", content="")
    |
    title MasterPlace
    // Bootstrap core CSS
    link(href="vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    // Custom styles for this template
    link(href="css/modern-business.css", rel="stylesheet")
  |
  body
    // Navigation
    nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href="index.html") MasterPlace
        |
        button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        |
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href="contact.html") Support
            |
            li.nav-item.dropdown
              a.nav-link(href="#") Blog
            |
            li.nav-item.dropdown
              a.nav-link(href="login.html") Log In
    |
    header
      #carouselExampleIndicators.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
          li.active(data-target="#carouselExampleIndicators", data-slide-to="0")
          |
          li(data-target="#carouselExampleIndicators", data-slide-to="1")
        |
        .carousel-inner(role="listbox")
          // Slide One - Set the background image for this slide in the line below
          .carousel-item.active(style="background-image: url('images/artboard1.png')")
            .carousel-caption.d-none.d-md-block
              #container
                #button1(button="", type="button sign-up") Sign Up
                |
                a(href="login.html")
                  #button2(button="", type="button log-in") Log In
          // Slide Two - Set the background image for this slide in the line below
          .carousel-item(style="background-image: url('images/artboard2.png')")
            .carousel-caption.d-none.d-md-block
              #container2
                #button3(button="", type="button sign-up") Sign Up
                |
                a(href="login.html")
                  #button4(button="", type="button log-in") Log In
          |
          a.carousel-control-prev(href="#carouselExampleIndicators", role="button", data-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            |
            span.sr-only Previous
          |
          a.carousel-control-next(href="#carouselExampleIndicators", role="button", data-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            |
            span.sr-only Next
    // Page Content
    .container
      h1.my-4 Welcome to MasterPlace #{title}
      // Features Section
      .row
        .col-lg-6
          h2 E-Gift Your Loyalty Rewards
          |
          p
            | You don’t need a better reason to spread the joy. Sign up for MasterPlace to redeem and gift loyalty rewards associated with your MasterCard accounts to your loved ones easily.
            br
            |
            br
            |           With MasterPlace:
          |
          ul
            li
              strong You can transfer your loyalty rewards via the blockchain
            |
            li
              | You can perform P2P transaction via the blockchain to transfer your loyalty rewards in a seamless fashion
            |
            li
              | You can redeem and register rewards under your loved one’s name and credit it to their associated MasterCard accounts
          |
          p Sign up with MasterCard now.
        |
        .col-lg-6
          img.img-fluid.rounded(src="images/gift.png", alt="")
      // /.row
      hr
      |
      .row
        .col-lg-6
          img.img-fluid.rounded(src="images/shopping.png", alt="")
        |
        .col-lg-6
          h2 Experience a borderless shopping experience
          |
          p
            | Sign up with MasterPlace and unfetter yourself from traditional loyalty management programs and experience a freedom like never before.
          |
          br
          |
          p
            | Gain more choice, exchanging your loyalty points like credit card points and airline miles for rewards from programs you might not be part of! The world is oyster with MasterPlace, shop anywhere with MasterCard now!
          |
          br
          |
          p Sign up with MasterPlace now.
      // /.row
      hr
      |
      h1 See if you are eligible for rewards redemption on MasterPlace.
      |
      h3
        | MasterPlace partners with banks so that you can redeem your favourite rewards.
        //
          <div class ="gallery">
          <a target="_blank" href="">
          <img src="images/ally.png" width="400" height="400">
          </a>
          </div>
          <div class ="gallery">
          <a target="_blank" href="">
          <img src="images/assoc-bank.png" width="400" height="400">
          </a>
          </div>
          <div class ="gallery">
          <a target="_blank" href="">
          <img src="images/bow.png" width="400" height="400">
          </a>
          </div>
          <div class ="gallery">
          <a target="_blank" href="">
          <img src="images/citibank-logo-vector-400x400.png" width="400" height="400">
          </a>
          </div>
          <div class="gallery">
          <a target="_blank" href="">
          <img src="images/fifth-third.png" width="400" height="400">
          </a>
          </div>
          <div class="gallery">
          <a target="_blank" href="">
          <img src="images/first-hawaiian.png" width="400" height="400">
          </a>
          </div>
          <div class="gallery">
          <a target="_blank" href="">
          <img src="images/key-bank.png" width="400" height="400">
          </a>
          </div>
          <div class="gallery">
          <a target="_blank" href="">
          <img src="images/peoples-united.png">
          </a>
          </div>
          <div class="gallery">
          <a target="_blank" href="">
          <img src="images/suntrust.png" width="400" height="400">
          </a>
          </div>
          <div class="gallery">
          <a target="_blank" href="">
          <img src="images/usbank.png" width="400" height="400">
          </a>
          </div>
          <div class="gallery">
          <a target="_blank" href="">
          <img src="images/first-premier_en-us.jpg" width="400" height="400">
          </a>
          </div>
        section#our-feature.sections
          .container
            .heading
              .title.text-center.arrow-left
                img.hidden-xs(src="assets/images/left-arrow.png", alt="")
                |
                .feature-wrapper
                  .row
                    .col-md-4.col-sm-6.col-xs-12
                      .features-content.active
                        img(src="images/ally.png", width="100", height="100")
                    |
                    .col-md-4.col-sm-6.col-xs-12
                      .features-content
                        img(src="images/assoc-bank.png", width="100", height="100")
                    |
                    .col-md-4.col-sm-6.col-xs-12
                      .features-content
                        img(src="images/bow.png", width="100", height="100")
                    |
                    .col-md-4.col-sm-6.col-xs-12
                      .features-content
                        img(src="images/citibank-logo-vector-400x400.png", width="100", height="100")
                    |
                    .col-md-4.col-sm-6.col-xs-12
                      .features-content
                        img(src="images/fifth-third.png", width="100", height="100")
                    |
                    .col-md-4.col-sm-6.col-xs-12
                      .features-content
                        img(src="images/first-hawaiian.png", width="100", height="100")
                    |
                    .col-md-4.col-sm-6.col-xs-12
                      .features-content
                        img(src="images/key-bank.png", width="100", height="100")
                    |
                    .col-md-4.col-sm-6.col-xs-12
                      .features-content
                        img(src="images/peoples-united.png", width="100", height="100")
                    |
                    .col-md-4.col-sm-6.col-xs-12
                      .features-content
                        img(src="images/suntrust.png", width="100", height="100")
                    |
                    .col-md-4.col-sm-6.col-xs-12
                      .features-content
                        img(src="images/usbank.png", width="100", height="100")
                    |
                    .col-md-4.col-sm-6.col-xs-12
                      .features-content
                        img(src="images/first-premier_en-us.jpg", width="100", height="100")
                    |
                    .col-md-4.col-sm-6.col-xs-12
                      .features-content
                        img(src="images/bmo_v3.png")
                |
                hr
                |
                div
                  img(src="images/Artboard7.png", width="900", height="600")
                // /.container
                // Footer
                footer.py-5.bg-dark
                  .container
                    p.m-0.text-center.text-white Copyright © MasterPlace Money20/20 Hackathon 2017
                  // /.container
                // Bootstrap core JavaScript
                script(src="vendor/jquery/jquery.min.js")
                |
                script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
                |
                script(src="assets/js/vendor/jquery-1.11.2.min.js")
                |
                script(src="assets/js/vendor/bootstrap.min.js")
